.c-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: -1px;
  pointer-events: none;
  opacity: 0;
  z-index: 65;
  transition: opacity 200ms;
}
/*.c-modal:target {
  pointer-events: all;
  opacity: 1;
}*/
.c-modal.show {
  pointer-events: all;
  opacity: 1;
}
.c-modal .c-modal-inner {
  position: absolute;
  display: block;
  padding: 48px;
  line-height: 1.8;
  min-width: 45%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  color: #34495E;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 60;
  border-radius: 10px;
}

.c-modal-inner.c-modal-dark-theme {
  background-color: rgb(32,33,36);
}

.c-modal .c-modal-inner.lg {
  max-width: 90%;
}
.c-modal .c-modal-inner.hide {
  z-index: 4;
}
.c-modal .c-modal-inner h2 {
  margin-top: 0;
}
.c-modal .c-modal-inner code {
  font-weight: bold;
}
.c-modal .c-modal-inner.fullscreen {
  width: 100%;
  height: 100%;
}
.c-modal .c-modal-inner.paper {
  width: 70%;
  height: 100%;
}
.c-modal .c-modal-inner.paper.paper-md {
  width: 40%;
}
@media (max-width: 1024px) {
  .c-modal .c-modal-inner.paper {
    width: 100%;
  }
  .c-modal .c-modal-inner.paper.paper-md {
    width: 100%;
  }
}

.c-modal.show .c-modal-addition-menu-inner {
  right: 0;
}

.c-modal .c-modal-addition-menu-inner {
  position: absolute;
  display: block;
  padding: 16px;
  line-height: 1.8;
  width: 30%;
  height: 100%;
  bottom: 0;
  right: -100%;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  color: #34495E;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 60;
  transition: right 220ms cubic-bezier(0.15, 1, 0.3, 1);
}

.c-modal .c-modal-addition-menu-inner.c-addition-menu-modal-sheet {
  color: rgb(207,212,214);
  background-color: rgb(32,34,36);
  padding: 0;
  border-radius: 20px 0 0 0;
}

.c-addition-menu-modal-sheet > .modal-close {
  display: none;
}

.c-addition-menu-modal-sheet > .c-addition-menu-modal-sheet-header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: rgb(32,34,36);
  z-index: 1;
}

.c-addition-menu-modal-sheet > .c-addition-menu-modal-sheet-avatar {
  position: absolute;
  z-index: 55;
  /*top: 5px;*/
  top: 12px;
  background-color: rgb(32,34,36);
  border: 5px solid rgb(32,34,36);
  border-radius: 50%;
  left: 50%;
  margin-left: -28px;
}

.c-modal .c-modal-addition-menu-inner.c-addition-menu-modal-sheet h5 {
  color: #fff;
  background-color: rgb(32,34,36);
  /*font-size: 1.5rem;
  line-height: 1.25;*/
  font-size: 18px;
  line-height: 30px;
  padding: 25px 25px 20px;
  /*margin-top: -25px;*/
  margin-top: -15px;
  /*margin-bottom: 10px;*/
  margin-bottom: 0;
  /*border-bottom: 1px solid #fff;*/
  border-radius: 20px 0 0 0;
  position: relative;
  z-index: 5;
}

@media (max-width: 480px) {
  .c-modal .c-modal-addition-menu-inner {
    width: 100%;
    height: auto;
    right: 0;
  }

  .c-modal .c-modal-addition-menu-inner.c-addition-menu-modal-sheet {
    border-radius: 20px 20px 0 0;
    background-color: rgb(32,34,36);
  }

  .c-addition-menu-modal-sheet > .c-addition-menu-modal-sheet-header {
    height: 0;
  }

  .c-modal .c-modal-addition-menu-inner.c-addition-menu-modal-sheet h5 {
    /*margin-top: 40px;*/
    margin-top: 45px;
    border-radius: 20px 20px 0 0;
  }

}
.c-modal.show .c-modal-addition-menu-inner {
  right: 0;
}

.c-modal .c-modal-sidebar-inner {
  position: absolute;
  display: block;
  padding: 48px;
  line-height: 1.8;
  min-width: 30%;
  width: 50%;
  height: 100%;
  top: 0;
  right: -100%;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  color: #34495E;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 60;
  transition: right 220ms cubic-bezier(0.15, 1, 0.3, 1);
}
.c-modal .c-modal-sidebar-inner.sidebar-md {
  width: 40%;
}
@media (max-width: 1024px) {
  .c-modal .c-modal-sidebar-inner {
    width: 50%;
    padding: 24px 15px;
    transition: none;
  }

  .c-modal .c-modal-sidebar-inner.sidebar-md {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .c-modal .c-modal-sidebar-inner {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .c-modal .c-modal-sidebar-inner {
    width: 100%;
    padding: 24px 15px;
    right: 0;
  }
  .c-modal .c-modal-sidebar-inner.sidebar-md {
    width: 100%;
  }
}
.c-modal.show .c-modal-sidebar-inner {
	right: 0;
}
.c-modal.show .c-modal-sidebar-inner.bg-black-alpha-75 {
  background-color: rgba(0,0,0,.84);
}

.c-modal.modal-detail-box .c-modal-sidebar-inner {
  padding: 0;
  right: -10%;
  opacity: 0;
  width: 65%;
  transition: right 400ms 340ms cubic-bezier(0.15, 1, 0.3, 1), opacity 360ms 400ms cubic-bezier(0.15, 1, 0.3, 1);
}
.c-modal.modal-detail-box.show .c-modal-sidebar-inner {
  right: 0;
  opacity: 1;
}

@media (max-width: 1024px) {
  .c-modal.modal-detail-box .c-modal-sidebar-inner {
    width: 90%;
    right: 0;
    opacity: 0;
    transition: opacity 400ms cubic-bezier(0.15, 1, 0.3, 1);
  }
}

@media (max-width: 768px) {
  .c-modal.modal-detail-box .c-modal-sidebar-inner {
    width: 100%;
  }
}


.c-modal.modal-chat-box .c-modal-sidebar-inner {
  padding: 0;
  height: 460px;
  width: 380px;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  min-width: auto;
  background-color: transparent;
  overflow: visible;
}
@media (max-width: 480px) {
  .c-modal.modal-chat-box .c-modal-sidebar-inner {
    width: 100%;
    height: 100%;
    right: 0;
  }
}

.c-modal .c-modal-fade-top-inner {
  position: absolute;
  display: block;
  padding: 48px;
  line-height: 1.8;
  min-width: 30%;
  width: 100%;
  height: 100%;
  top: -10%;
  right: 0;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  color: #34495E;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 60;
  opacity: 0;
  transition: top 560ms cubic-bezier(0.15, 1, 0.3, 1), opacity 360ms 60ms cubic-bezier(0.15, 1, 0.3, 1);
}
@media (max-width: 480px) {
  .c-modal .c-modal-fade-top-inner {
    transition: none;
  }
}
.c-modal.show .c-modal-fade-top-inner {
  top: 0;
  opacity: 1;
}

.c-modal a.close {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #34495E;
  opacity: 0.5;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  z-index: 5;
}

.c-modal a.modal-close {
  position: fixed;
  color: #888;
  font-size: 1.625rem;
  cursor: pointer;
  z-index: 40;
  top: 12px;
  right: 28px;
  font-size: 40px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  display: block;
}

.c-modal .c-modal-dark-theme a.modal-close {
  color: #eaeaea;
}

@media (max-width: 480px) {
  .c-modal a.modal-close {
    right: 10px;
  }
}

.c-modal .c-modal-bg a.modal-close {
  color: #fff;
}

.c-modal.modal-chat-box a.modal-close {
  position: absolute;
  top: -10px;
  right: -10px;
  color: #fff;
  background-color: #C62828;
  font-size: 24px;
  line-height: 26px;
  box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
}

@media (max-width: 480px) {
  .c-modal.modal-chat-box a.modal-close {
    top: 10px;
    right: 6px;
  }
}

.c-modal.modal-chat-box a.modal-close:hover {
  color: #fff;
}

@media (max-width: 480px) {
  .c-modal .c-modal-addition-menu-inner > a.modal-close {
    position: absolute;
  }
}

.c-modal .c-modal-sidebar-inner.bg-black-alpha-75 a.modal-close {
  color: #fff;
}
.c-modal a.modal-close:hover {
  color: #222;
  text-decoration: none;
}

.c-modal .c-modal-dark-theme a.modal-close:hover {
  color: #fafafa;
}

.c-modal a.modal-close.top {
  top: -15px;
}

.c-modal a.modal-close.btn {
	top: 30px;
  right: 90px;
  width: auto;
  height: auto;
  color: #26a69a;
  background-color: #dedede;
  /*border: 0;*/
  border-radius: 0;
  padding: 8px 22px;
}

@media (max-width: 480px) {
  .c-modal a.modal-close.btn {
  	position: relative;
  	margin: 12px 0 20px;
    width: 100%;
    top: 0;
    right: 0;
  }
}

.c-modal .modal-textarea {
	border: 0;
	height: 0;
	padding: 0;
	transition: height .3s ease-out;
}

.c-modal .modal-textarea.show {
	height: 220px;
	padding: 8px 12px;
	border: 1px solid #aaa;
}

.c-modal .modal-textarea.show.error {
	border-color: red;
}

.c-modal .modal-textarea + small {
	color: red;
	display: none;
}

.c-modal .modal-textarea.show.error + small {
	display: block;
}

@media (max-width: 1366px) {
	.c-modal .c-modal-inner {
		width: 60%;
	}

	.c-modal .c-modal-inner.lg {
		width: 90%;
	}
}

@media (max-width: 1024px) {
	.c-modal .c-modal-inner {
		width: 70%;
	}
	
	.c-modal .c-modal-inner.lg {
		width: 90%;
	}
}

@media (max-width: 768px) {
	.c-modal .c-modal-inner {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.c-modal .c-modal-inner {
		padding: 30px;
    border-radius: 0;
	}
}

@media (max-width: 320px) {
	.c-modal .c-modal-inner {
		padding: 20px;
	}

	.c-modal .modal-title {
		height: 22px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.c-modal .modal-textarea.show {
		height: 200px;
	}
}

.c-modal .c-modal-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 20;
}

.c-modal.c-modal-feature > .c-modal-inner {
  padding-bottom: 100px;
  overflow: hidden;
}

.modal-feature-wrapper {
  position: relative;
  top: 500px;
  padding: 0 50px 0;
  max-height: 100%;
  overflow: auto;
  opacity: 0;
  z-index: 9;
  transition: top 450ms cubic-bezier(0.15, 1, 0.3, 1), opacity 800ms cubic-bezier(0.15, 1, 0.3, 1);
}

.modal-feature-wrapper.show {
  top: 0;
  opacity: 1;
}

@media (max-width: 1024px) {
  .modal-feature-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.c-modal.c-modal-feature .page-progress-bar {
  width: 100%;
  height: 6px;
  background-color: #bababa;
}

.c-modal.c-modal-feature .page-progress {
  width: 0;
  height: 100%;
  background-color: rgb(29,120,244);
  transition: width 450ms cubic-bezier(0.15, 1, 0.3, 1);
}

.c-modal.c-modal-feature .modal-feature-content {
  display: none;
  padding: 50px 50px 100px;
  background-color: #fff;
  width: 60%;
  /*margin: 80px auto 0;*/
  margin: 0 auto;
  min-height: 100%;
}

@media (max-width: 1024px) {
  .c-modal.c-modal-feature .modal-feature-content {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .c-modal.c-modal-feature .modal-feature-content {
    padding: 15px;
    padding-bottom: 70px;
  }
}

.c-modal.c-modal-feature .modal-feature-content.show {
  display: block;
}

.c-modal .c-modal-footer .c-modal-action {
  width: 60%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1024px) {
  .c-modal .c-modal-footer .c-modal-action {
    width: 100%;
  }
}

.c-modal-inner.c-modal-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: #202124;*/
  background-image: linear-gradient(118deg,#328bf2,rgb(32,34,36));
}

.c-modal-inner.c-modal-bg:before {
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
  height: 100%;
  text-align: center;
  position: absolute;
  background: rgba(40,40,40,0.3);
  z-index: -1;
}

.c-modal-inner.c-modal-border-radius {
  border-radius: 12px;
}

@media (max-width: 768px) {
  .c-modal-inner.c-modal-border-radius {
    border-radius: 0;
  }
}

.c-modal .list-group.addition-menu {
  background-color: rgb(32,34,36);
  margin-bottom: 20px;
}

.c-addition-menu-modal-sheet a.modal-close {
  color: #eaeaea;
}

.c-addition-menu-modal-sheet a.modal-close:hover {
  color: #fafafa;
}

.c-addition-menu-modal-sheet .list-group.addition-menu .list-group-item i {
  background-color: #efefef;
  border-radius: 50%;
}

.c-addition-menu-modal-sheet .list-group.addition-menu .list-group-item a.btn-secondary {
  background-color: rgba(255,255,255,.1);
}

.c-addition-menu-modal-sheet .list-group.addition-menu .list-group-item a.btn-secondary:hover {
  background-color: rgba(255,255,255,.2);
}

.c-addition-menu-modal-sheet .list-group.addition-menu .list-group-item a.btn-secondary > i{
  margin-left: -16px;
}